@inherits LayoutComponentBase

<RadzenComponents />
<RadzenLayout>

    <RadzenHeader>
        <div class="d-flex flex-row">
            <div>
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
                    <RadzenSidebarToggle Click="@(()=>sidebar1Expanded = !sidebar1Expanded)" />
                    <RadzenLabel Text="Agriculture NextGeneration" />
                </RadzenStack>
            </div>
            <div class="ms-auto p-2">
                @* <YearSelector CurrentYearChanged="@(args => _currentYear = args)" /> *@
            </div>
        </div>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebar1Expanded">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Home" Path="#" Icon="home" />
            <RadzenPanelMenuItem Text="Daten">
                <RadzenPanelMenuItem Text="Betrieb" Path="company" />
                <RadzenPanelMenuItem Text="Stammdaten" Path="masterdata" />
            </RadzenPanelMenuItem>
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        @Body
    </RadzenBody>
</RadzenLayout>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    bool sidebar1Expanded = true;
    private string? _currentYear;
}