<div class="d-flex flex-row">
    <div>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="ClickHandler" />
            <RadzenLabel Text="Agriculture NextGeneration" />
            <RadzenButton Text="Test" Click="ClickHandler" />
        </RadzenStack>
    </div>
    <div class="ms-auto p-2">
        @* <YearSelector CurrentYearChanged="@(args => _currentYear = args)" /> *@
    </div>
</div>

@code {
    [Parameter] public EventCallback<EventArgs> SidebarToggleClick { get; set; }

    async Task ClickHandler()
    {
        await SidebarToggleClick.InvokeAsync();
    }
}