@page "/"
@using AgricultureManager.Core.Application.Features.CompanyFeatures

<PageTitle>Willkommen zu Agirculture Manager</PageTitle>

<div class="text-center mt-5">
    <h1>Willkommen zu Agriculture Manager</h1>
    <p>
        Willkommen zur Anwendung Agriculture Manager! Diese Anwendung hilft Ihnen, Ihre landwirtschaftlichen Aktivitäten effizient zu verwalten.
    </p>
    <p>
        Verwenden Sie das Navigationsmenü, um auf verschiedene Module und Funktionen der Anwendung zuzugreifen.
    </p>
    <p>
        Wenn Sie Fragen haben oder Hilfe benötigen, lesen Sie bitte die Dokumentation oder wenden Sie sich an den Support.
    </p>
</div>


@code{
    [Inject] public IMediator Mediator { get; set; } = default!;
    [Inject] public NavigationManager NavigationManager { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var response = await Mediator.Send(new GetCompanyCommand());
        if (!response.Success)
        {
            NavigationManager.NavigateTo("/company/create");
        }
    }
}